<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask - Tailwind Example</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}"> <!-- accede a los archivos estaticos de esta forma-->
    
    <!-- <script src="https://cdn.tailwindcss.com"></script> usa esto para hacer diseños rapidos sin necesidad
        de tener que ejecutar el comando para generar clases de tailwind a cada rato 
    -->
</head>
<body class="p-2">
    <h1 class="text-sky-600 text-xl font-semibold m-2">Hola mundo</h1>
</body>
</html>